p=println
wait={t=timer()while(timer()<(t+tw)){print()}}

	color(0xFFA500);
	p("Deleting old files that may cause conflict")
	
	deldir("sd:/config/aio-switch-updater")
	deldir("sd:/switch/aio-switch-updater")
	delfile("sd:/bootloader/hekate_ipl.ini")
	movefile("sd:/bootloader/hekate_ipl" "sd:/bootloader/hekate_ipl.ini")
	delfile("sd:/config/8bit-updater/update.te")
	
	clear()
	color(0xFFFF00);	
	p("Update completed!")
	p()
	p("Rebooting")
	wait(tw = 3000)
