wait={t=timer()while(timer()<(t+tw)){print()}}

		deldir("sd:/switch/aio-switch-updater");
		deldir("sd:/config/aio-switch-updater");
		delfile("sd:/config/8bit-updater/update.te");
